/* Default */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
}

/* ----- Navbar ----- */

/* ----- Header ----- */

/* Header-right (header links) */
ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* Hero section wrapper (wrapper for hero background and everything on it (navbar, hero text and image)) */
.hero-section {
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* gap: 100px; */
    /* min-height: 200px; */
}

.navbar {
    display: flex;
    /* margin-left: 14%;
    margin-right: 14%; */
    padding-top: 24px;
    justify-content: space-between;
    align-items: center;
    /* gap: 700px; */
}

.navbar-right {
    margin-right: 10%;
}

.navbar-right ul {
    display: flex;
    gap: 24px;
}

.navbar-right a {
    color: #e5e7eb;
    font-size: 18px;
}

.navbar-left {
    margin-left: 10%;
}

.navbar-left p {
    font-size: 24px;
    color: #f9faf8;
}

.hero-main {
    display: flex;
    justify-content: space-between;
    padding-top: 6%;
    padding-bottom: 6%;
}

.hero-image {
    background-color: gray;
    width: 30%;
    margin-right: 10%;
}

.hero-text {
    margin-left: 10%;
}

.hero-text h1 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
    padding-bottom: 10px;
}

.hero-text p {
    font-size: 18px;
    color: #e5e7eb;
    padding-bottom: 20px;
}

/* ----- Button ----- */
/* Button */
.hero-text button {
    width: 30%;
    padding: 10px;
    background-color: #3882f6;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Button on hover */
.hero-text button:hover {
    background-color: #2563eb;
}
/* Button text (link) */
button a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
}

/* Hero section wrapper (wrapper for hero background and everything on it (navbar, hero text and image)) */
.info-section {
    padding-top: 3%;
    padding-bottom: 6%;
}

.info-section h2 {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    display: flex;
    justify-content: center;
    padding-bottom: 3%;
}

.box-content {
    display: flex;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
    gap: 120px;
}

.box {
    display: flex;
    flex-direction: column;
    width: 200px;
    justify-content: center;
    align-items: center;
}

.box img {
    border-color: #3882f6;
    border-style: solid;
    border-width: 4px;
    border-radius: 10%;
    width: 200px;
    height: 200px;
    margin-bottom: 15px;
}

.box p {
    text-align: center;
    width: 100;
}

.quote-section {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    padding-top: 10%;
    padding-bottom: 10%;
    align-items: flex-end;
}

.quote {
    margin-left: 20%;
    margin-right: 20%;
    padding-bottom: 15px;
}

.quote p {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1f2937;
}

.author {
    margin-right: 20.5%;
}

.author p {
    font-weight: bolder;
    font-size: x-large;
}

.call-section {
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding-top: 10%;
    padding-bottom: 10%; */
    margin: 10%;
}

.call-blue-box {
    background-color: #3882f6;
    padding: 80px;
    border-radius: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.call {
    width: 75%;
}

.call h2 {
    font-size: 24px;
    color: #f9faf8;
}

.call p {
    font-weight: 400;
    font-size: 18px;
    color: #e5e7eb;
}

.call-button button {
    background-color: #3882f6;
    color: #e5e7eb;
    border-color: #e5e7eb;
    border-width: 3px;
    border-style: solid;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    /* padding-left: 40px;
    padding-right: 40px;
    padding-top: 5px;
    padding-bottom: 5px; */
    padding: 10px;
    width: 150%;
}

.call-button button:hover {
    background-color: #2563eb;
}
/* Button text (link) */
.call-button button a {
    text-decoration: none;
    font-size: 18px;
}

.footer {
    background-color: #1f2937;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer p {
    color: #e5e7eb;
    font-size: 18px;
    padding: 2%;
}
